/* Basic Reset */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Background Image Container */
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Video container to ensure the video is fullscreen */
.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: 1;
}

.intro-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Container for the entire game */
.container {
    width: 500px;
    height: 900px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;  /* Ensure it's above the background */
}

/* Hide the container initially until the video ends */
.hidden {
    display: none;
}

/* Styling for the title */
.title {
    font-family: 'PizzaMan', sans-serif; /* Replace with your font family */
    font-size: 48px;
    margin: 20px 0;
    text-align: center;
}

/* Logo styling */
.logo {
    max-width: 150px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Styling for the description */
.description {
    font-size: 18px;
    margin: 20px 0;
}

/* Styling for the Start Game button */
.start-button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background-color: #ff8c00;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
}
